/* app css stylesheet */

body {
  font-family: Arial, serif;
  text-align: center;
  text-transform: lowercase;
}

.topContainer, .queryContainer {
  margin-bottom: 40px;
}

.header h1 {
  color: #000;
  font-size: 30px;
  font-weight: bold;
  margin-top: 60px;
}

.querybox {
  width: 300px;
  height: 25px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #000;
  text-transform: lowercase;
}

.gobtn {
  background: transparent;
  color: #000;
  border: 1px solid #000;
  font-size: 14px;
  font-weight: 200;
  padding: 2px 10px;
  border-radius: 2px;
  cursor: pointer;
}

.description {
  text-align: center;
  font-size: 12px;
  color: #555753;
  font-weight: bold; 
}

.descriptionContent {
  text-align: center;
  font-size: 12px;
  color: #555753;
  padding: 10px;
}


.slideDown.ng-hide {
  height:0;
  transition:height 0.35s ease;
  overflow:hidden;
  position:relative;
}

.slideDown {
  height: 50px;
  transition:height 0.35s ease;
  overflow:hidden;
  position:relative;
}

.slideDown.ng-hide-remove,
.slideDown.ng-hide-add {
  /* remember, the .hg-hide class is added to element
  when the active class is added causing it to appear
  as hidden. Therefore set the styling to display=block
  so that the hide animation is visible */
  display:block!important;
}


.slideDown.ng-hide-add {
  animation-name: hide;
  -webkit-animation-name: hide;  

  animation-duration: .5s; 
  -webkit-animation-duration: .5s;

  animation-timing-function: ease-in;  
  -webkit-animation-timing-function: ease-in;  
}



.slideDown.ng-hide-remove {
  animation-name: show;
  -webkit-animation-name: show;  

  animation-duration: .5s; 
  -webkit-animation-duration: .5s;

  animation-timing-function: ease-out;  
  -webkit-animation-timing-function: ease-out;  
}

.expandcollapse-heading {
  cursor: pointer;
  position: relative;
}

.expandcollapse-item {
  overflow: hidden;
}

.pokemonInfo {
  padding-top: 50px;
}

.pokemon {
  width: 50px;
  height: 50px;
}

.name, .type {
  margin-top: 10px;
  margin-bottom: 10px;
}


